.form {
    height: 15vh;
    background-image: radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, .3) 99%),
        radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, .3) 99%);
    background-size: 80px 80px;
    background-position: 0 0, 40px 40px;
    display: flex;
    flex-direction: column;
}

#container {
    width: 120vw;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-inner {
    width: 90vw;
    display: flex;
    flex-direction: row;
}

#paragraph {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#input {
    width: 60vw;
    height: 15vh;
    display: inline-block;
    display: flex;
    align-items: center;
}

#input-inner {
    width: 50vw;
    overflow-x: scroll;
    display: inline-block;
}

.buttons {
    margin-left: 2vw;
    height: 15vh;
    width: 50vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}