.age-container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
}

.age-container .age-subcontainer {
    position: absolute;
    margin-top: 0.5rem;
}

#face-image {
    margin-top: 1vh;
    margin-bottom: 2vh;
    width: 50vw;
    height: 50vh;
}

#age-number {
    color: #c5e60c;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
