@media only screen 
    and (min-device-width: 1300px)
    and (min-device-height: 1366px) {
        .passwordContainer {
            display: flex;
            flex-direction: column;
        }
        
        .passwordLabel {
            scale: 2;
        }
        
        .passwordLabelInner {
            display: block;
            font-weight: 600;
            line-height: 1.5;
            font-size: 0.875rem;
        }
        
        .passwordSubContainer {
            display: flex;
            flex-direction: row;
            padding-left: 6em;
            position: relative;
            left: -33%;
            margin-top: 0.5vh;
        }

        .passwordInputContainer {
            box-sizing: border-box;
            scale: 1.009;
            position: relative;
        }

        .passwordInputInner {
            box-sizing: border-box;
            scale: 1.009;
            position: relative;
            font-weight: bold;
            padding: 0.5rem;
            border-style: solid;
            border-width: 1px;
            background-color: var(--transparent); 
            width: 100%; 
        }
        
        .password12CharContainer {
            display: flex;
            flex-flow: row nowrap;
            scale: 0.8;
            position: absolute;
            top: -40%;
            left: 88%;
        }
        
        .password12CharIcon {
            height: 1.5vh;
            width: 1.5vh;
        }
        
        .password12CharInput {
            align-self: center;
            height: 1.5vh;
        }

        .passwordInputInner:hover {
            background-color: black;
            color: white;
        }
        
        .password12CharInput > .password12CharInputInner {
            display: flex;
            width: 6.5vh;
            height: 1.5vh;
        }
        
    }

.passwordContainer {
    display: flex;
    flex-direction: column;
}

.passwordLabel {
    display: flex;
    justify-content: center;
}

.passwordLabelInner {
    display: block;
    font-weight: 600;
    line-height: 1.5;
    font-size: 0.875rem;
 /* db fw6 lh-copy f6*/
}

.passwordSubContainer {
    display: flex;
    flex-direction: row;
    padding-left: 6em;
}

.password12CharContainer {
    display: flex;
    flex-flow: row nowrap;
}
.passwordInputInner {
    font-weight: bold;
    padding: 0.5rem;
    border-style: solid;
    border-width: 1px;
    background-color: var(--transparent); 
    width: 100%; 
    /* b pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100 */
}

.passwordInputInner:hover {
    background-color: black;
    color: white;
}

.password12CharInput {
    align-self: center;
}

.password12CharInput > .password12CharInputInner {
    display: flex;
    width: 7.5vh;
    height: 2.5vh;
}

.password12CharIcon {
    display: flex;
    height: 2.5vh;
    width: 2.5vh;
    align-self: center;
}