.Tilt {
    background: linear-gradient(to right, #FF5EDF 0%, #04C8DE 100%);
    box-shadow: 0.3rem 0.3rem 1rem #e9ec13,
    -2px -2px 1rem #ffffff;
}

.logo {
    box-shadow: 0.3rem 0.3rem 3rem #e9ec13,
    -2px -2px 10rem #ffffff;
}