@media only screen 
and (min-width: 50px) {
    .passwordConfirmContainer {
        margin-top: 1vh;
        display: flex;
        flex-direction: column;
    }
    
    .passwordConfirmLabel {
        display: block;
        font-weight: 600;
        line-height: 1.5;
        font-size: 0.875rem;
    }
    
    .passwordConfirmSubContainer {
        display: flex;
        flex-direction: row;
        padding-left: 6em;
    }
    
    .passwordConfirmInput {
        font-weight: bold;
        padding: 0.5rem;
        border-style: solid;
        border-width: 1px;
        background-color: var(--transparent); 
    }
    
    .passwordConfirmInput:hover {
        background-color: black;
        color: white;
    }
    
    .password1SepcialCharContainer {
        display: flex;
        flex-flow: row nowrap;
    }
    
    .password1SpecialCharIconBox {
        display: flex;
        height: 2.5vh;
        width: 2.5vh;
        align-self: center;
    }
    
    .password1SpecialCharInputBox {
        align-self: center;
    }
    
    .password1SpecialCharInput {
        display: flex;
        width: 7.5vh;
        height: 2.5vh;
        max-width: 5rem;
        min-width: 5rem;
    }
}   

@media only screen 
and (min-device-width: 320px) {
    .passwordConfirmContainer {
        margin-top: 1vh;
        display: flex;
        flex-direction: column;
    }
    
    .passwordConfirmLabel {
        display: block;
        font-weight: 600;
        line-height: 1.5;
        font-size: 0.875rem;
    }
    
    .passwordConfirmSubContainer {
        display: flex;
        flex-direction: row;
        padding-left: 6em;
    }
    
    .passwordConfirmInput {
        font-weight: bold;
        padding: 0.5rem;
        border-style: solid;
        border-width: 1px;
        background-color: var(--transparent); 
    }
    
    .passwordConfirmInput:hover {
        background-color: black;
        color: white;
    }
    
    .password1SepcialCharContainer {
        display: flex;
        flex-flow: row nowrap;
    }
    
    .password1SpecialCharIconBox {
        display: flex;
        height: 2.5vh;
        width: 2.5vh;
        align-self: center;
    }
    
    .password1SpecialCharInputBox {
        align-self: center;
    }
    
    .password1SpecialCharInput {
        display: flex;
        width: 7.5vh;
        height: 2.5vh;
        max-width: 5rem;
        min-width: 5rem;
    }
}

@media only screen 
and (device-width: 1300px)
and (device-height: 1366px) {

    .passwordConfirmContainer {
        margin-top: 1vh;
        display: flex;
        flex-direction: column;
    }
    
    .passwordConfirmLabel {
        display: block;
        font-weight: 600;
        line-height: 1.5;
        font-size: 0.875rem;
        scale: 2.0;
    }
    
    .passwordConfirmSubContainer {
        display: flex;
        flex-direction: row;
        padding-left: 6em;
        position: relative;
        left: 20%;
        margin-top: 0.5vh;
    }
    
    .passwordConfirmInput {
        font-weight: bold;
        padding: 0.5rem;
        border-style: solid;
        border-width: 1px;
        background-color: var(--transparent); 
        position: relative;
        left: -77%;
    }
    
    .passwordConfirmInput:hover {
        background-color: black;
        color: white;
    }
    
    .password1SepcialCharContainer {
        display: flex;
        flex-flow: row nowrap;
        scale: 0.8;
        position: absolute;
        top: -40%;
        left: 37%;
        box-sizing: border-box;
    }
    
    .password1SpecialCharIconBox {
        display: flex;
        height: 1.5vh;
        width: 1.5vh;
        align-self: center;
        box-sizing: border-box;
        scale: 1.009;
        position: relative;
    }
    
    .password1SpecialCharInputBox {
        align-self: center;
    }
    
    .password1SpecialCharInput {
        display: flex;
        width: 6.5vh;
        height: 1.5vh;
    }    
}


