.color-name {
    /* background-color: blue; */
    margin-top: 1vh;
}

.error-msg {
    margin-top: 1vh;
}

.color-page {
    min-width: 48vw;
    max-width: 60vw;
    width: 100%;
    font-size: 1rem;
    margin-top: 2vh;
    padding-inline: 2% 2%;
}

.color-table {

    width: 48vw;
    padding-right: 2vw;
}

.raw-hex {
    height: 5vh;
    width: 9vw;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
}

.raw-hex-input {
    min-width: 4.5rem;
    max-width: 5rem;
    width: 100%;
}

.w3c-hex-input {
    width: 1vw;
}

.w3c-name-input {
    min-width: 3rem;
    max-width: 8rem;
    width: 100%;
}

.w3c-hex-input-inner {
    min-width: 4.5rem;
    max-width: 10rem;
    width: 100%;
}


