.color-container {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 5vh;
}

.color-image {
    margin-top: 2vh;
    padding-inline: 1% 1%;
    top: 0vh;
    width: 50vw;
    height: 50vh;
}

#detailBtn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal-window {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40rem;
    margin-left: 24rem;
    opacity: 0;
}

.modal-window--inner {
    border: 2px solid white;
    background-color: rgb(2, 255, 65);
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    border-radius: 10px;
}