.color-container {
    display: flex;
}

.color-image {
    margin-top: 2vh;
    top: 0vh;
    width: 50vw;
    height: 50vh;
}

#detailBtn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}