.color-container {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 5vh;
}

.color-image {
    margin-top: 2vh;
    padding-inline: 1% 1%;
    top: 0vh;
    width: 50vw;
    height: 50vh;
}

#detailBtn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}