.navSignedIn {
    display: flex;
    justify-content: flex-end;
    width: 95%;
    position: absolute;
}

.navBoxSignedOut {
    display: block;
}

.navSignedOut {
    display: flex;
    justify-content: flex-end;
}

.navPara {
    transition: all .1s ease-out;
    opacity: 1;
    font-size: 1.5rem;
    padding: 1rem;
    color: #000;
    text-decoration: none;
}

.navPara:hover {
    color: rgba(0, 0, 0, 0.5);
}

.navPara:active {
    color: rgba(0, 0, 0, 0.5);
}