.nav {
    &--signedIn {
        display: flex;
        justify-content: flex-end;
        width: 95%;
        position: absolute;
    }

    &--signedOut {
        display: block;
        display: flex;
        justify-content: flex-end;
    }

    &__paragraph {
        transition: all .1s ease-out;
    opacity: 1;
    font-size: 2.4rem;
    padding: 1.6rem;
    color: #000;
    text-decoration: none;
    transition: all .1s ease-out;
        
        &:hover {
            transform: translateY(-0.3rem);
            color: rgba(0, 0, 0, 0.5);
        }

        &:active {
            transform: translateY(-0.1rem);
            color: rgba(0, 0, 0, 0.5);
        }
    }
}
