@media only screen 
    and (device-width: 1300px)
    and (device-height: 1366px) {
        .emailContainer {
            display: flex;
            flex-direction: column;
        }
        
        .emailLabel {
            display: flex;
            justify-content: center;
            scale: 2;
        }
        
        .emailLabelInner {
            display: block;
            font-weight: 600;
            line-height: 1.5;
            font-size: .875rem;
        }
        
        .emailSubContainer {
            display: flex;
            flex-direction: row;
            padding-left: 6em;
            position: relative;
            left: -33%;
            margin-top: 0.5vh;
            scale: 1.009;
        }

        .emailInputContainer {
            box-sizing: border-box;
            scale: 1.009;
            position: relative;
        }
        
        .emailInputInner {
            box-sizing: border-box;
            scale: 1.009;
            position: relative;
            font-weight: bold;
            padding: 0.5rem;
            border-style: solid;
            border-width: 1px;
            background-color: var(--transparent);
            width: 100%;
        }
        
        .emailInputInner:hover {
            background-color: black;
            color: white;
        }
        
        .emailIconEmptyContainer {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            scale: 0.8;
            position: absolute;
            top: -40%;
            left: 87%;
            box-sizing: border-box;
        }
        
        .emailIconEmptyContainer > .emailIcon {
            height: 1.5vh;
            width: 1.5vh;
        }
        
        .emailIconEmptyContainer > .empty {
            width: 7.5vh;
            height: 1.5vh;
        }
    }

@media only screen 
    and (min-device-width: 320px) {
        .emailContainer {
            display: flex;
            flex-direction: column;
        }
        
        .emailLabel {
            display: flex;
            justify-content: center;
        }
        
        .emailLabelInner {
            display: block;
            font-weight: 600;
            line-height: 1.5;
            font-size: .875rem;
        }
        
        .emailSubContainer {
            display: flex;
            flex-direction: row;
            padding-left: 6em;
        }
        
        .emailInputInner {
            font-weight: bold;
            padding: 0.5rem;
            border-style: solid;
            border-width: 1px;
            background-color: var(--transparent);
            width: 100%;
            min-width: 10rem;
            max-width: 10rem;
        }
        
        .emailInputInner:hover {
            background-color: black;
            color: white;
        }
        
        .emailIconEmptyContainer {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
        }
        
        .emailIconEmptyContainer .emailIcon {
            display: flex;
            height: 2.5vh;
            width: 2.5vh;
            align-self: center;
        }
        
        .emailIconEmptyContainer .empty {
            display: flex;
            width: 7.5vh;
            height: 2.5vh;
        }
    }



.emailContainer {
    display: flex;
    flex-direction: column;
}

.emailLabel {
    display: flex;
    justify-content: center;
}

.emailLabelInner {
    display: block;
    font-weight: 600;
    line-height: 1.5;
    font-size: .875rem;
}

.emailSubContainer {
    display: flex;
    flex-direction: row;
    padding-left: 6em;
}

.emailInputInner {
    font-weight: bold;
    padding: 0.5rem;
    border-style: solid;
    border-width: 1px;
    background-color: var(--transparent);
    width: 100%;
}

.emailInputInner:hover {
    background-color: black;
    color: white;
}

.emailIconEmptyContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.emailIconEmptyContainer .emailIcon {
    display: flex;
    height: 2.5vh;
    width: 2.5vh;
    align-self: center;
}

.emailIconEmptyContainer .empty {
    display: flex;
    width: 7.5vh;
    height: 2.5vh;
}