.passwordContainer {
    display: flex;
    flex-direction: column;
}

.passwordLabel {
    display: flex;
    justify-content: center;
}

.passwordLabelInner {
    display: block;
    font-weight: 600;
    line-height: 1.5;
    font-size: 0.875rem;
 /* db fw6 lh-copy f6*/
}

.passwordSubContainer {
    display: flex;
    flex-direction: row;
    padding-left: 6em;
}

.password12CharContainer {
    display: flex;
    flex-flow: row nowrap;
}
.passwordInputInner {
    font-weight: bold;
    padding: 0.5rem;
    border-style: solid;
    border-width: 1px;
    background-color: var(--transparent); 
    width: 100%; 
    /* b pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100 */
}

.passwordInputInner:hover {
    background-color: black;
    color: white;
}

.password12CharInput {
    align-self: center;
}

.password12CharInput > .password12CharInputInner {
    display: flex;
    width: 7.5vh;
    height: 2.5vh;
}

.password12CharIcon {
    display: flex;
    height: 2.5vh;
    width: 2.5vh;
    align-self: center;
}