.nameContainer, .emailContainer, .passwordContainer, .passwordValidationContainer {
    display: flex;
    flex-direction: row;
}

.nameInput, .emailInput {
    width: 12.5vw;
}

.passwordInputsContainer, .passwordValidationIcon {
    display: flex;
    flex-direction: column;
}



.nameIcon, .emailIcon {
    display: flex;
    align-items: center;
    height: 5.2vh;
}

.nameIconInput, .emailIconInput {
    height: 2.5vh;
    width: 3vw;
}

.passwordValidationInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Password validation boxes styling */
.passwordMatchInput, .password12CharInput, .password1SpecialCharInput {
    display: flex;
    align-items: center;
    height: 2.38vh;
    width: 5vw;
    font-size: 0.7rem;
}

.passwordValidationIconContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.passwordMatchIcon, .password12CharIcon, .password1SpecialCharIcon {
    display: flex;
    align-items: center;
    height: 2.35vh;
    width: 5vw;
}

.registerBtnOK {
    box-shadow: 0.3rem 0.3rem 1rem #f6f8f8,
    -2px -2px 1rem #eefa43;
}